.button {
  margin-top: 30px;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  background: #9851e0;
  color: white;
  width: 249px;
  height: 62px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
  font-size: 18px;
  font-weight: bold;
  border-color: #9851e0;
}

.button:active, .button:focus {
  outline: none;
}

@media screen and (max-width:768px) {
 .button {
   left: 50%;
 }
}

@media screen and (min-width:769px) {
 .button {
   left: 25%;
 }
}
