.temps {
  display: inline-block;
  color: #9851e0;
  font-weight: 600;
  font-size: 34px;
  margin-left: 13px;
}


.icon {
  margin-left: 10px;
}

.weather {
  color: #9851e0;
  font-weight: 600;
  font-size: 34px;
  margin-left: 13px;
}

@media screen and (max-width:768px) {
  .weather {
    display: none;
  }
}

@media screen and (min-width:769px) {
  .weather {
    display: inline-block;
  }

  .icon {
    
  }
}
